@CHARSET "UTF-8";

.box-cadastro-user
{
	width:800px !important;
	margin:0 auto;
}

.titulo-cadastro-user
{
	/*border:1px solid black;*/
	font-size:18px;
	width:320px;
	text-align:center;
	margin:20px auto;
	margin-bottom:20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#333;
	
}

.msg-erro-cadastro-user
{
    color: #B94A48;
    font-size:12px;
    text-align:left;
    padding-left:10px;
    width:510px;
    margin-top:1px;
    margin-bottom:5px;
    margin-left:0px;
}

.form-control
{
	/*width:400px !important;*/
}

.campo-text-cadastro
{
	/*line-height: 15px;
	font-size:18px;*/
	color:#799B88;
}

.campo-select-cadastro select
{
	width:324px;	
}

.panel-body
{
	padding-left:120px !important;
}

